
.nav_bar_container {
    width: 100%;
    /* background-color: aquamarine; */
    padding-left: 5em;
    padding-right: 5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    /* background-image: url('/public/images/nag.svg'); */
}

.nav_bar_right_side_menu {
    display: flex;
}

.menu_item_nav_bar {
    padding-left: 2em;
}

.brand_name_icon {
    height: 70px;
    background-color: antiquewhite;
    border-radius: 50px;
}